{% extends 'layout.html' %}
{% block head %}
<title> ZaxterB</title>
{% endblock %}
{% block content %}
<canvas id="desktop"></canvas>
<script>
  var canvas = document.getElementById('desktop');
  var context = canvas.getContext('2d');
  context.canvas.width  = window.innerWidth;
  context.canvas.height = window.innerHeight;
  context.imageSmoothingEnabled = false;
  make_base();
  function make_base()
  {
    base_image = new Image();
    base_image.src = 'static/room.png';
    base_image.onload = function(){
        context.drawImage(base_image, 0, 0, window.innerWidth, window.innerHeight);
    }
  }
  make_base();
</script>
{% endblock %}